@theme {
  --color-primary: #E60000;
  --color-primary-dark: #B80000;
  --color-secondary: #F97316;
  --color-bg: #FFF9F9;
  --color-white: #FFFFFF;
  --color-gray-100: #F3F4F6;
  --color-gray-600: #4B5563;
  --color-gray-900: #111827;
  --color-success: #22C55E;
  --color-warning: #FACC15;
  --color-error: #DC2626;
}

@theme {
  --font-main: "Poppins", sans-serif;
}

